// get montserrat font, the website's font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

// remove margin and padding from everything
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
}

// standard body styling
body {
  font-style: normal;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  background-color: $colorBackground;
}

h1 {
  color: $colorPrimaryA;
  font-size: 1.1rem;
  font-weight: medium;
}

h2 {
  color: $colorPrimaryA;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
}

p,
.main-text {
  color: $colorMainText;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.card {
  background-color: $colorCardBackground;
  border-radius: 1rem;
  border: 1px solid #e6e2e2;
  //box-shadow: 4px 4px 32px 1px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  height: fit-content;
}

ul {
  list-style: none;
}

// scroll bar styling
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $colorCardBackground;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $colorMainText;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $colorBoldText;
}
