//===variables===//
//colour pallette
$colorPrimaryA: #343734;
$colorPrimaryB: #a6a6a8;
$colorSecondary: #f5f5f5;
$colorTertiary: #ededf5;
$colorHover: #9593ff;

$colorBackground: #f9f9fd;
$colorCardBackground: #f5f5f5;
$colorCardBorder: #ececec;
$colorDivider: #e7e7e7;
$colorCardHeader: #8c8c8d;
$colorMainText: #616161;
$colorBoldText: #343633;

// global styling
@import "globalStyling";

// pages
@import "./pages/about";

// components
@import "./components/main";
@import "./components/mainEditor";
@import "./components/bandsSelector";
@import "./components/wordEditor";
@import "./components/distributionDisplay";
@import "./components/lemmaTable";
@import "./components/downloadData";
@import "./components/tooltips";
@import "./components/dialogBox";
@import "./components/bandConfig";
