@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
}

body {
  font-style: normal;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  background-color: #f9f9fd;
}

h1 {
  color: #343734;
  font-size: 1.1rem;
  font-weight: medium;
}

h2 {
  color: #343734;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
}

p,
.main-text {
  color: #616161;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

button {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  border: none;
  background: none;
  cursor: pointer;
}

.card {
  background-color: #f5f5f5;
  border-radius: 1rem;
  border: 1px solid #e6e2e2;
  margin-top: 10px;
  height: -moz-fit-content;
  height: fit-content;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616161;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #343633;
}

.page-wrapper {
  position: relative;
  width: 80%;
}
@media only screen and (max-width: 1600px) {
  .page-wrapper {
    width: 95%;
  }
}
.page-wrapper .image-container {
  position: absolute;
  top: 0%;
  right: -22%;
  z-index: -1;
}
.page-wrapper .image-container .image {
  max-width: 100%;
  max-height: 160vh;
}
.page-wrapper .title-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-wrapper .title-container .title {
  font-size: 2rem;
}
.page-wrapper .title-container .button-container button {
  margin-left: 10px;
  width: 200px;
}
.page-wrapper .input-section {
  margin-top: 30px;
}
.page-wrapper .input-section h2 {
  margin-bottom: 10px;
}
.page-wrapper .bottom-panel {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 150px;
}
.page-wrapper .bottom-panel .data-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.page-wrapper .bottom-panel .data-grid .top-panel {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.text-input {
  position: relative;
  width: 100%;
}
.text-input .stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
.text-input .stats-container .stat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px;
}
.text-input .stats-container .stat .right-border {
  position: absolute;
  top: 20%;
  left: 100%;
  bottom: 20%;
  border-left: 1px solid #e1e1e1;
}
.text-input .input-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text-input .input-container .input {
  resize: none;
  min-height: 32rem;
  padding: 10px 15px 15px 15px;
  border: none;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  outline: none;
  background-color: rgba(219, 232, 253, 0.5294117647);
  font-family: "Roboto";
}
.text-input .input-container .text-output {
  padding: 10px 25px 15px 15px;
  border: 1px solid #e1e1e1;
  border-right: none;
  background-color: #f5f5f5;
}

.bands-selector {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
}
.bands-selector .colourSelector {
  position: absolute;
}
.bands-selector .colourSelector .picker {
  max-width: 150px;
}
.bands-selector .scrollArea {
  display: flex;
  overflow-x: auto;
  height: 6rem;
  width: 70%;
  background-color: transparent;
}
.bands-selector .buttons {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.bands-selector .buttons button {
  flex-grow: 1;
  height: 6rem;
  background-color: transparent;
  border: none;
  border-left: 1px solid #e7e7e7;
  outline: none;
  font-family: "Roboto";
  cursor: pointer;
}
.bands-selector .buttons button:hover {
  color: #9593ff;
}
.bands-selector .bandContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 2rem;
  padding-right: 2rem;
}
.bands-selector .bandContainer .bandColour {
  width: 2rem;
  height: 2rem;
  margin-bottom: 4px;
  border: 3px solid transparent;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.bands-selector .bandContainer h5 {
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  color: #8b8b8b;
}
.bands-selector .panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 300px;
  height: 480px;
  padding: 0px 0px 0px 4px;
  background-color: #f5f5f5;
}
.bands-selector .panel .bandColour {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.bands-selector .panel .top {
  display: flex;
  justify-content: space-between;
}
.bands-selector .panel .top h2 {
  margin-top: 8px;
  margin-left: 8px;
}
.bands-selector .panel .top .closeButton {
  background-color: #616161;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0px 4px 0px 15px;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.bands-selector .panel .bandsForm {
  display: flex;
  flex-direction: column;
}
.bands-selector .panel .bandsForm .bandInput {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
}
.bands-selector .panel .bandsForm .bandInput input {
  width: 70px;
  height: 25px;
}
.bands-selector .panel .bandsForm .bandInput .removeButton {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.bands-selector .panel .bandsForm .bandInput .gridItem {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.wordEditorList {
  margin-bottom: 1rem;
}
.wordEditorList .wordOption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid rgba(231, 231, 231, 0.3019607843);
}
.wordEditorList .wordOption:nth-child(odd) {
  background-color: #f5f5f5;
}
.wordEditorList .wordOption:hover {
  background-color: #f3eff9;
}

.distributionContainer {
  min-height: 300px;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding-bottom: 2rem;
}
.distributionContainer .cardHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
}
.distributionContainer .cardHeader .title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-grow: 1;
  margin-left: 2rem;
}
.distributionContainer .bandBarContainer {
  height: 45px;
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  padding-left: 1rem;
}
.distributionContainer .bandBarContainer .bandBar {
  height: 40px;
}
.distributionContainer .bandBarContainer .bandBar:nth-child(2) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.distributionContainer .bandBarContainer .bandBar:nth-last-child(2) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.distributionContainer .bandBarContainer .bandBar:hover {
  border: 2px solid black;
}
.distributionContainer .bandBarContainer .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  margin-top: 0;
  font-size: 1rem;
  font-weight: normal;
  color: #8c8c8d;
}
.distributionContainer .bandBarContainer .coverage {
  margin-left: 5px;
  font-size: 1rem;
}
.distributionContainer .noDataMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28rem;
  font-size: 2rem;
  color: #4d4d4d;
}

.bandTooltip {
  position: fixed;
  z-index: 9999;
  background-color: black;
  color: white;
  padding: 5px;
  transform: translateX(-50%);
  border-radius: 4px;
}

.bandTooltip:after {
  content: " ";
  position: absolute;
  top: -5px;
  left: calc(50% - 10px);
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.lemmaFull {
  width: 100%;
  height: 36rem;
}
.lemmaFull .title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-grow: 1;
  margin-left: 2rem;
}
.lemmaFull .cardHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid #e3dfe9;
}
.lemmaFull .activeBandContainer {
  height: 100%;
}
.lemmaFull .activeBandSelector {
  height: 2px;
  background-color: #e3dfe9;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.lemmaFull .bands {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.lemmaFull .band {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 500;
  vertical-align: middle;
  color: rgba(77, 77, 77, 0.44);
  cursor: pointer;
}
.lemmaFull .band:hover {
  color: rgba(77, 77, 77, 0.87);
  background-color: #f3eff9;
}
.lemmaFull .band:last-child {
  border-top-right-radius: 1rem;
}
.lemmaFull .activeBand {
  color: #4d4d4d;
  font-weight: 600;
  cursor: default;
}
.lemmaFull .lemmaTable {
  /* temp */
  width: 100%;
  height: 32rem;
}
.lemmaFull .lemmaTable .bandHeaders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid #eeeeee;
}
.lemmaFull .lemmaTable .bandHeaders p {
  text-align: center;
  width: 15%;
  color: #9e9e9e;
  font-weight: normal;
}
.lemmaFull .lemmaTable .bandHeaders p:nth-child(1) {
  text-align: left;
  width: 30%;
}
.lemmaFull .lemmaTable .bandHeaders p:nth-child(2) {
  width: 40%;
}
.lemmaFull .lemmaTable .bandHeaders p:last-child {
  text-align: right;
}
.lemmaFull .bandBody {
  height: 27.5rem;
  overflow-y: auto;
}
.lemmaFull .bandBody .bandRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid #efefef;
  padding-left: 2rem;
  padding-right: 2rem;
}
.lemmaFull .bandBody .bandRow:nth-child(odd) {
  background-color: #f8f6fc;
}
.lemmaFull .bandBody .bandRow:hover {
  background-color: #f3eff9;
}
.lemmaFull .bandBody p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #4d4d4d;
}
.lemmaFull .bandBody p:nth-child(1) {
  justify-content: flex-start;
  width: 30%;
  font-weight: 600;
}
.lemmaFull .bandBody p:nth-child(2) {
  width: 40%;
}
.lemmaFull .bandBody p:last-child {
  justify-content: flex-end;
}
.lemmaFull .noLemmasMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28rem;
  font-size: 2rem;
  color: #4d4d4d;
}

.downloadButton {
  position: relative;
  width: 1.2rem;
  background-color: transparent;
  border: none;
  outline: none;
  fill: #343734;
  stroke: #343734;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.downloadButton:hover {
  stroke: #9593ff;
  fill: #9593ff;
  transform: scale(1.1);
}

.tooltipHovered {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-size: 0.75rem;
  font-family: "Roboto";
  border-radius: 4px;
  scale: 0.5;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  transition: all 0.1s ease;
}

.tooltip:hover .tooltipHovered {
  visibility: visible;
  left: 35px;
  scale: 1;
  opacity: 1;
}

.tooltip .tooltipHovered:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.dialogBackground {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(4, 4, 6, 0.95);
  z-index: 1000;
}
.dialogBackground .dialogBox {
  width: 34rem;
  max-width: 100%;
  height: auto;
  overflow-y: auto;
  max-height: 90vh;
  border-radius: 4px;
  background-color: #f5f5f5;
  z-index: 1010;
}
.dialogBackground .dialogBox .headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 2px solid #ececec;
}
.dialogBackground .dialogBox .headerContainer .closeButton {
  height: 4rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.dialogBackground .dialogBox .headerContainer .closeButton .closeButtonIcon {
  width: 32px;
  height: 32px;
  padding: 8px;
  color: black;
}
.dialogBackground .dialogBox .content {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
}

.band {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #ececec;
}
.band .bandColor {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  border-radius: 4px;
}
.band .bandInput {
  width: 4.5rem;
  height: 34px;
  background-color: #f3eff9;
  padding-left: 0.5rem;
  border-radius: 4px;
  border: rgba(0, 0, 0, 0.1) 1px solid;
}
.band .bandTo {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.3);
}
.band .bandDelete {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 8px;
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-left: auto;
}
.band .bandAdd {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 8px;
  color: rgb(27, 149, 255);
  font-weight: 400;
  transition: transform 0.1s ease-out;
}
.band .bandAdd:hover {
  transform: scale(1.1);
}
.band .bandIcon {
  width: 32px;
  height: 32px;
  padding: 8px;
}
.band .disabled {
  opacity: 0.5;
}

.bandContainerMaxHeight {
  padding-top: 1rem;
  max-height: 32rem;
  overflow-y: scroll;
}

.orDivider {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
}
.orDivider .divider {
  flex-grow: 1;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}
.orDivider p {
  padding: 1rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.3);
}

.bandConfigOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.bandConfigOptions button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33.3%;
  height: 6rem;
  padding: 0rem 1rem;
  background: none;
  border: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.bandConfigOptions button .configIcon {
  height: 2rem;
  margin-bottom: 0.5rem;
}
.bandConfigOptions button:hover {
  color: #9593ff;
  transform: scale(1.1);
}

.band:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.band:hover .bandDelete {
  color: rgba(0, 0, 0, 0.8);
}

.presetOptionsContainer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.presetOptionsContainer h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: normal;
  color: #8b8b8b;
}
.presetOptionsContainer .containerMaxHeight {
  padding-left: 2rem;
  padding-right: 2rem;
  max-height: 32rem;
  overflow-y: scroll;
}
.presetOptionsContainer .presetContainer {
  display: flex;
  gap: 1.5%;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.presetOptionsContainer .presetContainer .presetButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 30%;
  min-height: 10rem;
  margin-top: 1.5%;
  margin-bottom: 2rem;
}
.presetOptionsContainer .presetContainer .presetButton .preset {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 7rem;
  padding: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.presetOptionsContainer .presetContainer .presetButton .preset .presetBar {
  flex-grow: 1;
  margin-right: 4px;
  border-radius: 4px;
}
.presetOptionsContainer .presetContainer .presetButton .activePreset {
  background-color: rgba(219, 232, 253, 0.5294117647);
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.presetOptionsContainer .presetContainer .presetButton .currentPreset .presetBar {
  opacity: 0.2;
}
.presetOptionsContainer .presetContainer .presetButton .presetText {
  color: #343734;
  font-weight: 500;
  font-size: 1rem;
}
.presetOptionsContainer .presetContainer .presetButton .currentPresetButton {
  position: absolute;
  left: 5%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
}
.presetOptionsContainer .presetContainer .presetButton .currentPresetButton p {
  color: #343734;
}
.presetOptionsContainer .presetContainer .presetButton .currentPresetButton svg {
  width: 3rem;
  margin-bottom: 0.5rem;
}
.presetOptionsContainer .presetContainer .presetButton .currentPresetButton:hover {
  transform: scale(1);
  color: #9593ff;
}
.presetOptionsContainer .selectedOptionsContainer {
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top: 2px solid #ececec;
}
.presetOptionsContainer .presetButtonsContainer {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}
.presetOptionsContainer .presetButtonsContainer button {
  display: flex;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.2);
}
.presetOptionsContainer .presetButtonsContainer button svg {
  width: 1.25rem;
  margin-right: 0.5rem;
}
.presetOptionsContainer .presetButtonsContainer .selectable {
  color: #343734;
}/*# sourceMappingURL=index.css.map */