.bandConfig {
  // display and layout
  position: relative;

  // children
  h3 {
    // display and layout
    text-align: center;
    // animation
    transition: all 0.5s ease;
    // box model
    padding: 5px 3px;
    height: 100%;
    width: 190px;
    border: solid 2px $colorPrimaryA;
    border-radius: 2rem;
    // background
    &:hover {
      background-color: $colorPrimaryB;
    }
    // background
    user-select: none;
    cursor: pointer;
  }
}
