.text-input {
  // DISPLAY AND VISIBILITY
  position: relative;
  // BOX MODEL
  //box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  // BACKGROUND
  //background-color: $colorSecondary;
  // CHILDREN
  .stats-container {
    // DISPLAY AND VISIBILITY
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // BOX MODEL
    width: 100%;
    // CHILDREN
    .stat {
      // POSITION AND LAYOUT
      position: relative;
      // DISPLAY AND VISIBILITY
      display: flex;
      flex-direction: column;
      align-items: center;
      // BOX MODEL
      padding: 15px 0px;
      // CHILDREN
      .right-border {
        // POSITION AND LAYOUT
        position: absolute;
        top: 20%;
        left: 100%;
        bottom: 20%;
        // BOX MODEL
        border-left: 1px solid #e1e1e1;
      }
    }
  }
  .input-container {
    // POSITION AND LAYOUT
    position: relative;
    // BOX MODEL
    display: grid;
    grid-template-columns: 1fr 1fr;

    // CHILDREN
    .input {
      // BOX MODEL
      resize: none;
      min-height: 32rem;
      padding: 10px 15px 15px 15px;
      // BOX MODEL
      border: none;
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
      outline: none;
      // BACKGROUND
      background-color: #dbe8fd87;
      // TYPOGRAPH
      font-family: "Roboto";
    }
    .text-output {
      // BOX MODEL
      padding: 10px 25px 15px 15px;
      border: 1px solid #e1e1e1;
      border-right: none;
      // BACKGROUND
      background-color: $colorSecondary;
    }
  }
}
