.page-wrapper {
  // POSITION AND LAYOUT
  position: relative;
  // BOX MODEL
  width: 70%;
  // CHILDREN
  .image-container {
    position: absolute;
    top: 0%;
    right: -22%;
    z-index: -1;
    .image {
      max-width: 100%;
      max-height: 160vh;
    }
  }
  .title {
    // BOX MODEl
    margin-top: 10px;
  }
  .input-section {
    // BOX MODEL
    margin-top: 30px;
    // CHILDREN
    h2 {
      margin-bottom: 10px;
    }
  }
  .bottom-panel {
    // DISPLAY AND VISIBILITY
    display: flex;
    flex-direction: column;
    // BOX MODEL
    margin-top: 40px;
    margin-bottom: 150px;
    // CHILDREN
    .data-grid {
      // DISPLAY AND VISIBILITY
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      .top-panel {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
      }
    }
  }
}
