// get montserrat font, the website's font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

// remove margin and padding from everything
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// standard body styling
body {
  font-style: normal;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  background-color: $colourBackground;
}
h1 {
  color: $colorPrimaryA;
}
h2,
p {
  color: $colorPrimaryB;
}

// standard button styling
button {
  cursor: pointer;
  background-color: $colorSecondary;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  color: $colorPrimaryA;
  transition: all 0.5s ease;
  font-weight: 700;
  p {
    user-select: none;
  }
  &:hover {
    background-color: $colorPrimaryB;
    color: $colorSecondary;
  }
}

// scroll bar styling
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $colorSecondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $colorPrimaryB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $colorPrimaryA;
}
