// get montserrat font, the website's font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

// remove margin and padding from everything
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// standard body styling
body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: $colorPrimaryA;
  color: $colorPrimaryB;
}

// standard button styling
button {
  cursor: pointer;
  background-color: $colorSecondary;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  color: $colorPrimaryA;
  transition: all 0.5s ease;
  font-weight: 700;
  p {
    user-select: none;
  }
  &:hover {
    background-color: $colorPrimaryB;
    color: $colorSecondary;
  }
}
