//===variables===//
//colour pallette
$colorPrimaryA: #343734;
$colorPrimaryB: #a6a6a8;
$colorSecondary: #f5f5f5;
$colorTertiary: #ededf5;
$colourBackground: #f9f8fd;

// global styling
@import "globalStyling";

// components
@import "./components/textInput";
