@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

body {
  font-style: normal;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  background-color: #f9f9fd;
}

h1 {
  color: #343734;
}

h2 {
  color: #8c8c8d;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
}

p,
.main-text {
  color: #616161;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.card {
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ececec;
  -webkit-box-shadow: 4px 4px 32px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 32px 1px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: #8c8c8d;
  border: none;
  padding: 15px 5px;
  width: 120px;
  border-radius: 30px;
  text-decoration: none;
  color: #343734;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 700;
}

button p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button:hover {
  background-color: #343633;
  color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616161;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #343633;
}

.page-wrapper {
  position: relative;
  width: 80%;
}

@media only screen and (max-width: 1600px) {
  .page-wrapper {
    width: 95%;
  }
}

.page-wrapper .image-container {
  position: absolute;
  top: 0%;
  right: -22%;
  z-index: -1;
}

.page-wrapper .image-container .image {
  max-width: 100%;
  max-height: 160vh;
}

.page-wrapper .title {
  margin-top: 10px;
}

.page-wrapper .input-section {
  margin-top: 30px;
}

.page-wrapper .input-section h2 {
  margin-bottom: 10px;
}

.page-wrapper .bottom-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  margin-bottom: 150px;
}

.page-wrapper .bottom-panel .data-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.page-wrapper .bottom-panel .data-grid .top-panel {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.text-input {
  position: relative;
  width: 100%;
}

.text-input .stats-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.text-input .stats-container .stat {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px;
}

.text-input .stats-container .stat .right-border {
  position: absolute;
  top: 20%;
  left: 100%;
  bottom: 20%;
  border-left: 1px solid #e1e1e1;
}

.text-input .input-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.text-input .input-container .input {
  resize: none;
  min-height: 250px;
  padding: 10px 15px 15px 15px;
  border: none;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  outline: none;
  background-color: #dbe8fd87;
  font-family: "Inter";
}

.text-input .input-container .text-output {
  padding: 10px 15px 15px 15px;
  border: 1px solid #e1e1e1;
  border-right: none;
  background-color: #f5f5f5;
}

.bands-selector {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 70px;
}

.bands-selector .colourSelector {
  position: absolute;
}

.bands-selector .colourSelector .picker {
  max-width: 150px;
}

.bands-selector .scrollArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  height: 70px;
  width: 70%;
  background-color: #6e6e6e1f;
}

.bands-selector .buttons {
  position: relative;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bands-selector .bandContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-right: 10px;
}

.bands-selector .bandContainer .bandColour {
  width: 20px;
  height: 20px;
}

.bands-selector .bandContainer h5 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 13px;
}

.bands-selector .bandColour {
  width: 20px;
  height: 20px;
}

.bands-selector .panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  width: 300px;
  height: 480px;
  padding: 0px 0px 0px 4px;
  background-color: #f5f5f5;
}

.bands-selector .panel .bandColour {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.bands-selector .panel .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bands-selector .panel .top h2 {
  margin-top: 4px;
}

.bands-selector .panel .top .closeButton {
  background-color: #616161;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px 4px 0px 15px;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.bands-selector .panel .bandsForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bands-selector .panel .bandsForm .bandInput {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
}

.bands-selector .panel .bandsForm .bandInput input {
  width: 70px;
  height: 25px;
}

.bands-selector .panel .bandsForm .bandInput .removeButton {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.bands-selector .panel .bandsForm .bandInput .gridItem {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.wordEditor {
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ececec;
  -webkit-box-shadow: 4px 4px 32px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 32px 1px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 0px 4px;
  width: 450px;
  height: 200px;
  background-color: #f5f5f5;
}

.wordEditor .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wordEditor .top h2 {
  margin-top: 4px;
}

.wordEditor .top .closeButton {
  background-color: #616161;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px 4px 0px 15px;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.distributionContainer {
  min-height: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding: 10px;
}

.distributionContainer .bandBarContainer {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.distributionContainer .bandBarContainer .bandBar {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 40px;
}

.distributionContainer .bandBarContainer .title {
  margin-top: 0;
  background-color: grey;
  font-size: 1rem;
  height: 40px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.distributionContainer .bandBarContainer .coverage {
  margin-left: 5px;
}

.distributionContainer .noData {
  margin: 100px 100px;
}

.lemmaTable {
  min-height: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.lemmaTable .table {
  width: 100%;
  font-size: 20px;
}

.downloadData {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.downloadData .buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.downloadData .buttonsContainer button {
  width: 150px;
}
/*# sourceMappingURL=index.css.map */