//===variables===//
//colour pallette
$colorPrimaryA: #343734;
$colorPrimaryB: #a6a6a8;
$colorSecondary: #f5f5f5;
$colorTertiary: #ededf5;

$colorBackground: #f9f9fd;
$colorCardBackground: #f5f5f5;
$colorCardBorder: #ececec;
$colorDivider: #e7e7e7;
$colorCardHeader: #8c8c8d;
$colorMainText: #616161;
$colorBoldText: #343633;

// global styling
@import "globalStyling";

// components
@import "./components/main";
@import "./components/textInput";
