.band {
    display:flex;
    align-items: center;

    width:100%;

    padding:0.5rem 2rem;
    
    .bandColor {
        width:24px;
        height:24px;

        margin-right:1rem;
        border-radius:4px;
    }

    .bandInput {
        width:4.5rem;
        height:34px;

        background-color: #F3EFF9;
        padding-left:0.5rem;
        border-radius:4px;
        border:rgba(0,0,0,0.1) 1px solid;

    }

    .bandTo {
        margin-left:1rem;
        margin-right:1rem;

        font-size:0.75rem;
        color:rgba(0, 0, 0, 0.3);
    }


    .bandDelete {
        position: relative;

        width:32px;
        height:32px;

        padding:8px;

        border:none;
        background:none;
        color:rgba(0, 0, 0, 0.3);
        cursor:pointer;

        margin-left:auto;
    }

    .bandAdd {
        position: relative;
        display:flex;
        align-items: center;
        justify-content: center;
        
        margin-left:auto;
        padding:8px;

        color:rgb(27, 149, 255);
        font-weight: 400;

        transition:transform 0.1s ease-out;
    }

    .bandAdd:hover {
        transform:scale(1.1);
    }

    .bandIcon {
        width: 32px;
        height: 32px;

        padding:8px;
    }

    .disabled {
        opacity:0.5;
    }
}


.orDivider {
    display:flex;
    align-items: center;

    width:100%;
    padding:2rem 1rem 1rem 1rem;

    .divider {
        flex-grow:1;
        border-bottom:rgba(0,0,0,0.1) 1px solid;
    }

    p {
        padding:1rem;
        font-size:1rem;
        color:rgba(0, 0, 0, 0.3);
    }
}

.bandConfigOptions {
    display:flex;
    align-items: center;
    justify-content: center;

    width:100%;
    padding:1rem;

    button {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;

        width:33.3%;
        height:6rem;
        padding:0rem 1rem;

        background: none;
        border:none;
        text-align: center;
        font-size:0.75rem;
        font-weight:500;
        color:#333;

        cursor: pointer;

        .configIcon {
            height:2rem;
            margin-bottom:0.5rem;
        }
    }


}

.band:hover {
    background-color: rgba(0,0,0,0.05);
    .bandDelete {
        color:rgba(0, 0, 0, 0.8);
    }
}