.downloadButton {
  position: relative;
  width: 1.2rem;

  background-color: transparent;
  border: none;
  outline: none;

  fill: $colorPrimaryA;
  stroke: $colorPrimaryA;
  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.downloadButton:hover {
  stroke: #9593ff;
  fill: #9593ff;
}
